
.card-logo{
    font-size: 40px;
    text-align: center;
    
    margin-top: 25px;
}

.card-heading{
    font-size: 14px;
    text-align: left;
    
    margin-left: -15px;
    margin-top: 25px;

}




.card-text{
    font-size: 10px;
    margin-top: -11px;
    margin-left: -15px;
    
    text-align: left;
}