.cover-size {
    background-image: url('../../assets/contact-us/cover.png');
    height: 300px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position:  center;
  }

  .background1-size {
    background-image: url('../../assets/contact-us/rectangle.png');
    height: 600px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position:  center;
  }
  .background2-size {
    background-image: url('../../assets/contact-us/backgroud.png');
    height: 600px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position:  center;
    position: absolute
  }
  .address-logo {
    background-image: url('../../assets/contact-us/address.png');
    height: 50px;
    background-repeat: no-repeat;
    margin-top: 50px;
  }
  .phone-logo {
    background-image: url('../../assets/contact-us/phone.png');
    height: 50px;
    background-repeat: no-repeat;
    margin-top: 50px;
  }
  .email-logo {
    background-image: url('../../assets/contact-us/mail.png');
    height: 50px;
    background-repeat: no-repeat;
    margin-top: 50px;
  }
  .font {

    font-size: 15px;
    color: white;
    
    text-align: center;
  }
  .font2 {

    font-size: 11px;
    color: white;
   
   text-align: center;
  
  }
  .contact-box{
    background-color: #378fe7;
    height: 400px;
    width: 100%;
    border-radius: 5px;
    margin-top: 40px;
  }
  .contact-image {
    background-image: url('../../assets/contact-us/img1.png');
    height: 340px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 70px;
    margin-left: -60px;
    border-radius: 10px;
    background-size: cover;
  }
  .contact-woman {
    background-image: url('../../assets/contact-us/woman.png');
    height: 300px;
    width: 30%;
    background-repeat: no-repeat;
    margin-top: -330px;
    margin-left: 470px;
    
  }