.Aboutus {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px;
}


.Aboutus {
  
    
    background-image: url('../assets/aboutsnavimg.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    

  }

  .Aboutus   .text h4 {
    color: white;
    font-size: 40px;
    margin-top: 110px;
    text-align: center;
    
}

.Aboutus .text p {
    color: white;
    font-size: 15px;
    text-align: center;
    
}



.background {
/* background-image: url('../assets/abtrnd.png'); */
    height: 600px;
    background-repeat: no-repeat;
    margin-left: 10px;

}

.rndtext{
font-size: 20px;



}
 h2{
    color: black;
    font-size: 20px;
}

 h1{
    font-size: 25px;
    color: blue;
}

 .rndtext p {
    font-family: initial;
    font-size: 16px;
    line-height: 50px;
    color: black;
}


