nav.navbar, .navbar-default {
    background-color: transparent;
    margin: auto;
    width: 100%;
    position: center;

    
  }

  
  .navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
  }
  .navbar-right {
    float: right!important;
    margin-right: 28px;
    margin-top: 35px;
}

.logoimg{
  height: 0px;

  display: block;
  float: left;

  width: 123px;
  margin-top: -22px;
  margin-left: 55px;
  margin-top: 25px;
}

  .btn-normal {
    width: 151px;
    height: 47px;
    border-radius: 24px;
    margin-top: -9px;
    color: white;
  background-image: none;
  border: none;
  background-color: #0071bb;
}  
.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

  .navbar-default .navbar-nav > li > a {
    color: white;
  }
  
  .navbar-default .navbar-brand {
    color: white;
  }
  
  .navbar-default .navbar-toggle {
    border-color: white;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: transparent;
  }
  
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
  }
  
 
  .navbar-brand {
    float: left;
    height: 70px;
    padding: 13px 50px;
    font-size: 18px;
    line-height: 50px;
    margin: auto;
}