.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px;
}

.jumbotron {
  
    
    background-image: url('../assets/Layer\ 20.png');
    height: 575px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    margin-bottom: 0px;
    border-radius: 0px;

  }

  
  .products {
    background-image: url('../assets/Rectangle2.png');
    height: 575px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    
    border-radius: 0px;
  }
  .Aboutus {
    background-image: url('../assets/aboutusimage1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 575px;
    width: 100%;
  }
.Aboutus .Txtbaout{
  margin-top: 89px;
  
  font-size: 100px;
  line-height: 92px;
  color: #ffffff5e;
  font-family: "Poppins";
  font-weight: bold;
  text-align: center;
}
.products .Cards{
  margin-top: -143px;
  margin-right: -11px;
}
 
 .jumbotron .textstart h2{
     color: white;
     font-size: 45px;
     margin-left: 100px;
     margin-top: 67px;
     vertical-align: center;
 
 }
 .jumbotron .textstart p{
  color: white;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 12px;

}
  
  
  
  .btn-primary {
    width: 201px;
    height: 47px;
    border-radius: 24px;
    margin-top: -5px;
    margin-left: 97px;
    color: white;
  background-image: none;
  border: none;
  background-color: #0071bb;
  }
  
  h3 {
    margin-bottom: 1em;
  }