.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin-top: -157px;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    float: right;
    margin-left: 145px;
    margin-top: 30px;
    align-items: center;
}

 a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

a:hover {
    color: darkgray;
    text-decoration: underline;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    
}
 li{ 
    padding-right: 20px;
    padding-top: 12px;

}